.sortingrules {
  width: auto;
  background-color: transparent;
  padding-left: 2rem;
}

.sortingrules label {
  display: block;
  width: 100%;
  padding-bottom: 0.2rem;
}

.sortingrules select,
.sortingrules option {  
  border-radius: 0.5rem;
  font: inherit;
  padding: 0.25rem;
}