.form {
  max-width: 40rem;
  margin: 2rem auto;
  border-left: 1px solid var(--color-gray-300);
  padding-left: 2rem;
}

.form label,
.form input,
.form textarea {
  display: block;
  width: 100%;
}

.form input,
.form textarea {
  font: inherit;
  padding: 0.25rem;
}

.actions {
  gap: 1rem;
  padding: 0;
}


