.button {
    font: inherit;
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
    background-color: var(--color-gray-300);
    color: var(--color-gray-800);
    border: none;
}

.button:disabled,
.button:disabled:hover {
  background-color: var(--color-gray-500);
  color: var(--color-gray-900);
}

.button:hover,
.button:active {
    background-color: var(--color-gray-600);
    color: var(--color-gray-300);
}

.text_button {
    font: inherit;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: var(--color-gray-700);;
  }
  
  .text_button:hover,
  .text_button:active {
    color: var(--color-primary-900);
  }